.nonpoint {
    marker-start: none;
}

.select-data:hover {
    text-shadow: 0.1px 0.1px 0px black;
}

.select-data {
    cursor: pointer;
    display: block;
}

.list-group-item {
    padding: 0.75rem 0.5rem !important;
    overflow: hidden;
}

span.show,
span.hide {
    white-space: nowrap !important;
}

li {
    list-style: none;
}

li.element {
    list-style: circle !important;
}

.tree, .tree span {
    width: 100%;
}

div.tree span.show {
    width: auto !important;
}

.data-row {
    white-space: nowrap !important;
    display: flex !important;
    flex-direction: row;
    gap: 10px;

    overflow: hidden;
}

.data-row-wrap{
    flex-wrap: wrap;
    text-wrap: wrap !important;
}

.data-padding{
    padding-left: 10px;
}

.tree_target .data{
    /* background-color: #f4fbff; */
    padding: 0.25rem !important;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

.tree_target{
    overflow: hidden;
}